[submodule "RobinhoodDesktop/RobinhoodDesktop/NPlot"]
	path = RobinhoodDesktop/RobinhoodDesktop/NPlot
	url = https://github.com/Terohnon/NPlot.git
[submodule "RobinhoodDesktop/RobinhoodDesktop/RobinhoodNet"]
	path = RobinhoodDesktop/RobinhoodDesktop/RobinhoodNet
	url = https://github.com/EvoPulseGaming/RobinhoodNet.git
